<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div class="container-fluid">

    <div th:replace="fragments :: navbar"></div>


    <div class="row mt-3">
        <div class="col">
            <h2 text="Hola"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                <tr th:each="receta: ${recetas}">
                    <td th:text="${receta.id}"></td>
                    <td th:text="${receta.nombre}"></td>
                    <td th:text="${receta.ingredientes}"></td>
                    <td th:text="${receta.likes}"></td>
                    <td th:text="${receta.favorita}"></td>
                    <td th:text="${receta.compartida}"></td>

                    <td>
                        <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                th:onclick="'del(\'/recetas/' + ${receta.id} + '\')'">Borrar Receta
                        </button>
                    </td>

                    <td>
                        <button class="btn btn-light btn-xs" onmouseover="" style="cursor: pointer;"
                                th:if="${receta.favorita == false}"
                                th:onclick="'favorita(\'/recetas/' + ${receta.id} + '/favoritas' + '\')'">Añadir a
                            Favoritos
                        </button>
                    </td>

                    <td>
                        <button class="btn btn-light btn-xs" onmouseover="" style="cursor: pointer;"
                                th:if="${receta.compartida == false}"
                                th:onclick="'compartida(\'/recetas/' + ${receta.id} + '/compartidas' + '\')'">Añadir a
                            Compartidas
                        </button>
                    </td>

                    <td>
                        <a th:href="@{/recetas/{id}/modificar(id=${receta.id})}">
                            <button class="btn btn-light btn-xs" onmouseover="" style="cursor: pointer;"
                                    th:href="@{'/recetas/' + ${receta.id} + '/modificar' + '\')'}">
                                Modificar Receta
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary" th:href="@{/usuarios/{id}/recetas/nueva(id=${usuario.id})}"> Nueva receta</a>
                <a class="btn btn-link" href="/logout">Salir</a></p>
        </div>
    </div>

    <!-- Alerta -->
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>


</div>

<div th:replace="fragments::javascript"/>

<!-- Lanzamos una petición DELETE por JavaScript para borrar una tarea -->
<script type="text/javascript">
    function del(urlBorrar) {
        console.log(urlBorrar)
        if (confirm('¿Estás seguro/a de que quieres BORRAR la tarea?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then((res) => location.reload());
        }
    }

    function favorita(urlFavorita) {
        console.log(urlFavorita)
        if (confirm('¿Estás seguro que quieres añadir esta receta a favoritas?')) {
            fetch(urlFavorita, {
                method: 'POST'
            }).then((res) => location.reload());
        }
    }

    function compartida(urlCompartida) {
        console.log(urlCompartida)
        if (confirm('¿Estás seguro que quieres añadir esta receta a compartidas?')) {
            fetch(urlCompartida, {
                method: 'POST'
            }).then((res) => location.reload());
        }
    }
</script>


</body>
