<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments :: head (titulo='Listado Usuarios')"></head>


<body>

<div>
    <div th:replace="fragments :: navbar" ></div>

    <div class="row mt-3">
        <div class="col">
            <h2 text="Hola"></h2>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.getBloqueado()}"></td>


                    <td>
                        <a th:href="'buscar/' + ${usuario.id}">
                            <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                            >Visitar Perfil</button>
                        </a>
                    </td>

                    <td th:if="${usuarioActual.getAdmin()} == true">
                        <button class="btn btn-light btn-xs" onmouseover="" style="cursor: pointer;"
                                th:if="${usuario.getBloqueado()} == false "
                                th:onclick="'bloquear(\'/bloquear/' + ${usuario.getId()} + '\')'">
                            Bloquear Usuario
                        </button>
                    </td>

                    <td th:if="${usuarioActual.getAdmin()} == true">
                        <button class="btn btn-light btn-xs" onmouseover="" style="cursor: pointer;"
                                th:if="${usuario.getBloqueado()} == true "
                                th:onclick="'bloquear(\'/bloquear/' + ${usuario.getId()} + '\')'">
                            Desbloquear Usuario
                        </button>
                    </td>




                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>

<!-- Lanzamos una petición DELETE por JavaScript para borrar una tarea -->
<script type="text/javascript">
    function bloquear(urlBorrar) {
        console.log(urlBorrar)
        if (confirm('¿Estás seguro/a de que quieres Bloquear al usuario?')) {
            fetch(urlBorrar, {
                method: 'POST'
            }).then((res) => location.reload());
        }
    }
</script>



</html>